.root{
    -fx-background-color: white;
}

.card{
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5); 
}

.toolbar{
    
}
/* Transparent Tabpane header */
.jfx-tab-pane .headers-region{
    -fx-background-color:transparent;
}
.jfx-tab-pane .tab-header-background{
    -fx-background-color: transparent;
}

.custom-toolbar{
    -fx-background-color: #2B89E0;
    
}

/*Titles panes with bootstrap look and feel*/
.titled-pane > .title {
	-fx-background-color: #f5f5f5;
	-fx-border-color: #dddddd;
	/*-fx-background-insets: 5, 1, 5;*/
	-fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
	-fx-border-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
	-fx-padding: 11
}

.titled-pane > .content {
	-fx-background-color: white;
	-fx-background-radius: 0 0 4 4;
	-fx-border-radius: 0 0 4 4;
	-fx-border-color: #dddddd;
	/*-fx-padding: -11;*/
}

.titled-pane.primary {
	-fx-text-fill: white;
}

.titled-pane.primary > .title {
	-fx-background-color: #337ab7;
	-fx-border-color: #337ab7;
}

.titled-pane.primary > .content {
	-fx-border-color: #337ab7;
}

.titled-pane.success .arrow,
.titled-pane.info .arrow,
.titled-pane.warning .arrow,
.titled-pane.danger .arrow {
	-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
}

.titled-pane.success {
	-fx-text-fill: #3c763d;
}

.titled-pane.success > .title {
	-fx-background-color: #dff0d8;
	-fx-border-color: #d6e9c6;
}

.titled-pane.success > .content {
	-fx-border-color: #d6e9c6;
}

.titled-pane.info {
	-fx-text-fill: #31708f;
}

.titled-pane.info > .title {
	-fx-background-color: #d9edf7;
	-fx-border-color: #bce8f1;
}

.titled-pane.info > .content {
	-fx-border-color: #bce8f1;
}

.titled-pane.warning {
	-fx-text-fill: #8a6d3b;
}

.titled-pane.warning > .title {
	-fx-background-color: #fcf8e3;
	-fx-border-color: #faebcc;
}

.titled-pane.warning > .content {
	-fx-border-color: #faebcc;
}

.titled-pane.danger {
	-fx-text-fill: #a94442;
}

.titled-pane.danger > .title {
	-fx-background-color: #f2dede;
	-fx-border-color: #eacbd0;
}

.titled-pane.danger > .content {
	-fx-border-color: #eacbd0;
}
/*table view columns*/
.filler,.column-header,.show-hide-columns-button {
	-fx-background-color: #dddddd, white, white;
}
.show-hide-columns-button {
	-fx-border-width: 0;
	-fx-background-insets: 0 0 1 1;
}
.column-header:hover,.show-hide-columns-button:hover {
	-fx-background-color: #dddddd, white, #f8f8f8;
}
.column-header-background > .filler {
	-fx-border-color: transparent #dddddd transparent transparent;
	-fx-border-insets: 0 1 0 0;
}
.column-drag-header {
	-fx-background-color: #2fb254;
}
/* Progress bar with bootstrap look and feel*/
.progress-bar > .track {
	-fx-pref-height: 10;
	-fx-background-radius: 3;
	-fx-effect: innershadow(gaussian, #e4e4e4, 4, 0, 0, 1);
	-fx-background-color: #f5f5f5;
}

.progress-bar > .bar {
	-fx-background-insets: 0;
	-fx-background-color: #337ab7;
}

.progress-bar.success > .bar {
	-fx-background-insets: 0;
	-fx-background-color: #5cb85c;
}

.progress-bar.info > .bar {
	-fx-background-insets: 0;
	-fx-background-color: #5bc0de;
}

.progress-bar.warning > .bar {
	-fx-background-insets: 0;
	-fx-background-color: #f0ad4e
}

.progress-bar.danger > .bar {
	-fx-background-insets: 0;
	-fx-background-color: #d9534f;
}
